<div class="timeline">
  <div class="timeline-works">
    <h3>Expériences</h3>
    <p-timeline [value]="works">
      <ng-template pTemplate="marker" let-event>
        <span
          class="custom-marker shadow-2"
          [style.backgroundColor]="event.color"
        >
          <i [ngClass]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card>
          <ng-template pTemplate="header">
            <div class="event-title">
              <span class="event-title-1"> {{ event.titre1 }} </span>

              <span class="event-title-3"> - {{ event.titre3 }} </span>
              <span class="event-title-4"> ({{ event.date }}) </span>
            </div>
          </ng-template>
          <ng-template
            pTemplate="body"
            *ngIf="event.description || event.bullets"
          >
            <p *ngIf="event.description" class="event-body">
              {{ event.description }}
            </p>
            <ul *ngIf="event.bullets" class="event-bullets">
              <li *ngFor="let bullet of event.bullets">
                <span>{{ bullet.text }}</span>
                <span
                  *ngFor="let skill of bullet.skills"
                  class="event-bullets-skill"
                >
                  {{ skill }}
                </span>
              </li>
            </ul>
          </ng-template>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
  <div>
    <h3>Formations</h3>
    <p-timeline [value]="formations">
      <ng-template pTemplate="marker" let-event>
        <span
          class="custom-marker shadow-2"
          [style.backgroundColor]="event.color"
        >
          <i [ngClass]="event.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card>
          <ng-template pTemplate="header">
            <div class="event-title">
              <span class="event-title-1"> {{ event.titre1 }} </span>

              <span class="event-title-3"> - {{ event.titre3 }} </span>
              <span class="event-title-4"> ({{ event.date }}) </span>
            </div>
          </ng-template>
          <ng-template
            pTemplate="body"
            *ngIf="event.description || event.bullets"
          >
            <p *ngIf="event.description" class="event-body">
              {{ event.description }}
            </p>
            <ul *ngIf="event.bullets" class="event-bullets">
              <li *ngFor="let bullet of event.bullets">
                {{ bullet }}
              </li>
            </ul>
          </ng-template>
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</div>
