.timeline {
  padding-left: 2rem;

  &-works {
    margin: 2rem 0 4rem;
  }

  h3 {
    color: var(--primary);
    margin-bottom: 1.5rem;
  }

  .event {
    &-title {
      color: rgb(73, 80, 87);
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 6px;

      &-1 {
        font-weight: 800;
      }
      &-2 {
        font-weight: 400;
      }
      &-3 {
        font-weight: 400;
        font-size: 13px;
        font-style: italic;
      }
    }
    &-subtitle {
      color: #6c757d77;
      font-size: 12px;
      line-height: 12px;
      font-weight: 2 00;
      margin-bottom: 0.5rem;
    }
    &-body {
      font-size: 12px;
      line-height: 12px;
      font-weight: 2 00;
    }
    &-bullets {
      padding-left: 2rem;
      font-size: 12px;
      font-weight: 2 00;
      color: var(--primary);
      li {
        list-style: circle;
        margin-bottom: 0.3rem;
      }
    }
  }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
  }
}
