<div class="skills">
  <h3><i class="pi pi-palette"></i>compétences</h3>
  <div class="skills-hard">
    <h4>Techniques</h4>
    <ul>
      <li *ngFor="let skill of skills">
        {{ skill.label }}
        <app-skill-progression
          [percent]="skill.percent"
        ></app-skill-progression>
      </li>
    </ul>
  </div>
  <div class="skills-soft">
    <h4>Qualités</h4>
    <ul>
      <li>Adaptabilité</li>
      <li>Travail d'équipe</li>
      <li>Rigueur</li>
    </ul>
  </div>
</div>
