<div class="skills">
  <h3>{{ "SKILLS.HARD_SKILLS" | translate }}</h3>
  <ul>
    <li *ngFor="let skill of skills">
      {{ skill.label }}
      <app-skill-progression [percent]="skill.percent"></app-skill-progression>
    </li>
  </ul>

  <h3>{{ "SKILLS.SOFT_SKILLS" | translate }}</h3>
  <ul>
    <li>Adaptabilité</li>
    <li>Travail d'équipe</li>
    <li>Rigueur</li>
  </ul>

  <h3>{{ "SKILLS.WATCH" | translate }}</h3>
  <ul>
    <li>Lecture livre "software craft"</li>
    <li>Utilisation avancée de Cursor</li>
  </ul>

  <h3>{{ "SKILLS.INTERESTS" | translate }}</h3>
  <ul>
    <li>Vie familiale</li>
    <li>Gaming, mangas</li>
    <li>Bricolage, jardinage</li>
    <li>Musique, guitare</li>
  </ul>
</div>
