<div class="skills">
  <h3><i class="pi pi-palette"></i>Hard skills</h3>
  <ul>
    <li *ngFor="let skill of skills">
      {{ skill.label }}
      <app-skill-progression [percent]="skill.percent"></app-skill-progression>
    </li>
  </ul>

  <h3><i class="pi pi-palette"></i>Soft skills</h3>
  <ul>
    <li>Adaptabilité</li>
    <li>Travail d'équipe</li>
    <li>Rigueur</li>
  </ul>

  <h3><i class="pi pi-send"></i>Intérêts</h3>
  <ul>
    <li>Vie familiale</li>
    <li>Bricolage, jardinage</li>
    <li>Musique</li>
    <li>Gaming, mangas</li>
  </ul>
</div>
