<div class="cv">
  <div class="header">
    <div class="header-title">
      <div>
        <h1>{{ "HEADER.TITLE" | translate }}</h1>
        <h2>{{ "HEADER.SUBTITLE" | translate }}</h2>
        <p>{{ "HEADER.DESCRIPTION" | translate }}</p>
      </div>
    </div>
    <div class="header-photo">
      <img src="assets/profil-2025-60.jpg" alt="photo-profil" />
    </div>
  </div>
  <div class="main">
    <div class="main-left">
      <app-timeline></app-timeline>
      <div class="main-left-contact">
        <app-contact class="header-title-contact"></app-contact>
      </div>
    </div>
    <div class="main-right">
      <app-skills class="main-right-skills"></app-skills>
    </div>
  </div>
</div>
