.cv {
  width: 100vw;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10rem;

    background-color: var(--secondary);
    color: var(--light);
    &-title {
      display: flex;
      justify-content: space-between;
      padding: 0rem;
      width: 75vw;
      & > div {
        padding-left: 2rem;
        p {
          margin-top: 1rem;
          margin-right: 0.8rem;
          font-size: 12px;
          letter-spacing: 0.04rem;
          color: var(--light);
        }
      }
      h2 {
        margin-bottom: 0  ;
      }
    }
    &-photo {
      padding: 0;
      width: 25vw;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }

  }
  .main {
    display: flex;
    width: 100vw;
    min-height: 60rem;
    &-left {
      width: 75vw;
      padding: 0rem;
      background-color: var(--light);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-right {
      width: 25vw;
      color: var(--light);
      background-color: var(--primary);
    }
  }
}

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .cv {
    width: 100% !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .main {
    min-height: auto !important;
    height: calc(100vh - 10rem) !important;
  }
}
