<div class="cv">
  <div class="header">
    <div class="header-title">
      <div>
        <h1>ALBRECHT Michaël</h1>
        <h2>Développeur Web</h2>
        <app-contact class="header-contact"></app-contact>
      </div>
    </div>
    <div class="header-photo">
      <img src="assets/profil3.jpg" alt="photo-profil" />
    </div>
  </div>
  <div class="main">
    <div class="main-left"><app-timeline></app-timeline></div>
    <div class="main-right">
      <app-skills class="main-right-skills"></app-skills>
    </div>
  </div>
</div>
