<div class="cv">
  <div class="header">
    <div class="header-title">
      <div>
        <h1>ALBRECHT Michaël</h1>
        <h2>Développeur Backend Full Remote</h2>
        <p>
          Passionné par la conception de code de qualité, je souhaite rejoindre
          une équipe où la cohésion est la clé de la réussite.
        </p>
      </div>
    </div>
    <div class="header-photo">
      <img src="assets/profil-2025-60.jpg" alt="photo-profil" />
    </div>
  </div>
  <div class="main">
    <div class="main-left">
      <app-timeline></app-timeline>
      <div class="main-left-contact">
        <app-contact class="header-title-contact"></app-contact>
      </div>
    </div>
    <div class="main-right">
      <app-skills class="main-right-skills"></app-skills>
    </div>
  </div>
</div>
