/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --primary: #6699cc;
  --secondary: #1e3888;
  --light: #ede7e3;

  --green: #49b265;
  --red: #fd5f5f;

  --badge1: #198754;
  --badge2: #0d6efd;
  --badge3: #6610f2;
  --badge4: #dc3545;
  --badge5: #ef7f22;
  --badge6: #20c997;
  --badge7: #0dcaf0;
}

h1 {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.1rem;
}

h3 {
  margin-top: 0;
  font-weight: 8 00;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  .pi {
    margin-right: 0.6rem;
    font-size: 1rem;
  }
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 8 00;
  font-size: 1rem;
  text-transform: uppercase;
}

ul {
  padding-left: 1.7rem;
  margin-top: 0.5rem;
  li {
    list-style: none;
    font-size: 0.8rem;

    line-height: 0.8rem;
    margin-bottom: 0.6rem;
    font-weight: 300;
  }
}

p-timeline {
  width: 100%;
}
p-timeline-event-separator {
  width: 2px !important;
}
